table{
	border: 3px solid #6495ed;
	width: 60%;
	margin: auto;
	background-color: #D0E3FA;
}
tr{
height: 50px;
}

th{
	font font-family: verdana;
	font size: 1.20em;
	text-align: center;
	border: 1px solid #000099;
	background-color: darkred;
	
}
td{
	background-color: #ffffff;
	font-size: 0.80em;
	text-align: center;
	padding: 5px;
	border: 1px solid #6495ed;
	color: black;
}
.p1
{
	background-image: url(france.png);
	width: 130px;
	height: 100px;
	color: #FFF;
	
}
.p2
{
	background-image: url(usa.png);
	width: 130px;
	height: 100px;
}
.p3
{
	text-align: center;
	
}